<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" >   
    <title>Document</title>
</head>
<body>
    <div class="main">
    <div class="show">
    <h1>Arbortray</h1>
    <p>a site ro track randomly planted trees</p>
    </div>
    <div class="left">
    <a href="/user/account">My Trees</a>
    <h2>Welcome {{user.first_name}}</h2>
    <button>
        <a href="/newTree">plant a tree</a>
    </button> <button>
        <a href="/">Log Out</a>
    </button>
</div>
</div>
    <table class="table table-bordered mytable">
        <thead>
          <tr>
            <th scope="col">Species</th>
            <th scope="col">Planted_By</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for tree in trees %}
          <tr>
            <td>{{tree.species}}</td>
            <td>{{tree.planted_by.first_name}}</td>
            <td><a href="/show/{{tree.id}}">details</a></td>
            {% endfor %}
        </tr>
        </tbody>
      </table>
      
    
</body>
</html>